:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

body {
  color: #fafbfc;
  background-color: #0d1117;
  font-style: normal;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #39d353;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 5rem;
}

h2 {
  color: #39d353;
  font-size: 1rem;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 1.5rem;
}

.logo-gitart {
  padding: 1rem;
  font-size: 1rem;
  width: 100px;
  height: 100px;
}

#description-gitart {
  font-size: 0.9rem;
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#instructions-gitart {
  font-size: 0.9rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#instructions-gitart a {
  color: #39d353;
}

.underline-text {
  color: #39d353;
  text-decoration: underline;
  cursor: pointer;
}

#buymeacoffee {
  color: #FFDD00;
}

#github {
  color: #fafbfc;
}

.row-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#examples h3 {
  font-size: 1.5rem;
}

#examples {
  display: none;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding-bottom: 100%;
  background-color: #0d1117;
  z-index: 999;
}

.example-pic-container {
  display: flex;
  font-size: 1px;
  flex-direction: column;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.example-pic {
  margin-bottom: 1rem;
}

.close-btn {
  /* background-color: red; */
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.close-btn-svg {
  /* background-color: blue; */
  cursor: pointer;
}

.months {
  grid-area: months;
}

.days {
  grid-area: days;
}

.squares {
  grid-area: squares;
}

.graph-container {
  display: flex;
  justify-content: center;
}

.generate-btn {
  display: block;
  margin-left: auto;
  padding: 8px;
  font-weight: 600;
  border: #0e4429 1px solid;
  border-radius: 5px;
  background-color: #39d353;
  margin-right: 3.5rem;
  margin-bottom: 3.5rem;
  cursor: pointer;
  transition: all 0.2s;
}

.generate-btn:hover {
  transform: scale(1.05);
}

.graph {
  display: inline-grid;
  grid-template-areas:
    "empty months"
    "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-x: auto;
  padding: 20px;
  border: 1px #30363d solid;
  border-radius: 6px;
  margin: 20px;
}

.months {
  display: flex;
  justify-content: space-around;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.graph-container li {
  list-style-type: none;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #161b22;
  border-radius: 2px;
}

.squares li[data-level="1"] {
  background-color: #0e4429;
}

.squares li[data-level="2"] {
  background-color: #006d32;
}

.squares li[data-level="3"] {
  background-color: #26a641;
}

.squares li[data-level="4"] {
  background-color: #39d353;
}

.previous-year {
  opacity: 0;
}

#year-select {
  color: #fafbfc;
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 5px;
}

#year-select option:checked {
  background-color: #39d353;
  width: 100%;
}

.code-container {
  display: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.code-editor {
  background-color: #161b22;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 2px;
}

.code-header {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.code-icon {
  padding: 5px;
  width: 20px;
  transition: .2s ease;
}

.code-icon:hover {
  cursor: pointer;
  border-radius: 5px;
  background-color: #0d1117;
}

.editor-content {
  margin: 0 10px 10px;
  color: white;
}


.editor-content .color-1 {
  color: rgb(86 156 214);
}

.editor-content .color-2 {
  color: rgb(156 220 254);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 0.75rem;
    margin-top: -40px;
  }

  .logo-gitart {
    width: 50px;
    height: 50px;
  }

  .generate-btn {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  #description-gitart {
    font-size: 0.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}