:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}
body {
  color: #fafbfc;
  background-color: #0d1117;
  font-style: normal;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.months {
  grid-area: months;
}
.days {
  grid-area: days;
}
.squares {
  grid-area: squares;
}

.graph {
  display: inline-grid;
  grid-template-areas:
    "empty months"
    "days squares";
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}

.months {
  display: grid;
  grid-template-columns:
    calc(var(--week-width) * 4) /* Jan */
    calc(var(--week-width) * 4) /* Feb */
    calc(var(--week-width) * 4) /* Mar */
    calc(var(--week-width) * 5) /* Apr */
    calc(var(--week-width) * 4) /* May */
    calc(var(--week-width) * 4) /* Jun */
    calc(var(--week-width) * 5) /* Jul */
    calc(var(--week-width) * 4) /* Aug */
    calc(var(--week-width) * 4) /* Sep */
    calc(var(--week-width) * 5) /* Oct */
    calc(var(--week-width) * 4) /* Nov */
    calc(var(--week-width) * 5) /* Dec */;
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
}

.graph {
  padding: 20px;
  border: 1px #30363d solid;
  border-radius: 6px;
  margin: 20px;
}

li {
  list-style-type: none;
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #161b22;
  border-radius: 2px;
}

.squares li[data-level="1"] {
  background-color: #0e4429;
}

.squares li[data-level="2"] {
  background-color: #006d32;
}

.squares li[data-level="3"] {
  background-color: #26a641;
}

.squares li[data-level="4"] {
  background-color: #39d353;
}

.previous-year {
  opacity: 0;
}

#year-select {
  color: #fafbfc;
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 5px;
}

#year-select option:checked {
  background-color: #39d353;
  width: 100%;
}
